## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## OS
.DS_Store
Thumbs.db

## Blazor
wwwroot/css/bootstrap/

## Python
__pycache__/
*.pyc
.venv/

## User secrets
secrets.json

## Claude Code
.claude/
